[submodule "BnkExtractor"]
	path = Dependencies/BnkExtractor
	url = https://github.com/weblings/BnkExtractor
[submodule "Rocksmith2014PsarcLib"]
	path = Dependencies/Rocksmith2014PsarcLib
	url = https://github.com/weblings/Rocksmith2014PsarcLib

